@media (min-width: 0) and (max-width: 600px){
h1 {
    font-size: 48px;
}
.hero1_modelContainer{
    height: 172px;
    width: 735px;
    margin-top: 100px;
}
.hero1model{
    height: 231px;
    width: 890px;
}
.hero_graphic3 {
   width: 497px;
        height: 18px;
        bottom: 131px;
        right: 137px;
}
h4 {
    font-size: 20px;
}
.heroCard{
    display: flex;
    width: 300px;
    padding: 12px 22px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 8px;
    backdrop-filter: blur(20px);
    position: relative;
    top: 20px;
}
nav{
    display: none;
}
.padded_container{
    padding: 0 32px;
}
.padded_container2{
    padding: 50px 32px;
}
.card1_wrapper {
    width: 80%;
}
.landingsec3Flex {
    align-items: flex-start;
    gap: 32px;
    flex-direction: column-reverse;
}
.sec3Car {
    width: 31%;
    min-width: 110px;
    transform: rotate(90deg);
    transform-origin: center;
}
.sec3CarCont{
    justify-content: center;
    align-items: center;
    height: 200px;
}
.car_neonContainer {
    width: 100%;
    min-height: 129px;
}
.header_container{
    padding: 12px 32px;
}
.button1_size2 {
    font-size: 14px;
}
.road_flex {
    max-height: 107px;
}
.statsFlex1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
.sec7Card1{
    min-width: 341px;
    padding: 62px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 769px;
    border-radius: 0 42px 42px 0;
    margin-bottom: 40px;
}
.sec7Card2{
    padding: 62px;
    border-radius: 42px 0 0 42px;
}
.filtersFlex div img{
    height: 71px;
}
.sec6Card2Wrapper{
    width: 100%;
     height: -webkit-fill-available;;
}
.sec6Card1 h1{
    font-size: 62px;
}
.statsFlex2 {
    flex-direction: column;
    width: 100%;
}
.progressFlex{
    width: 100%;
}
.statsBlock1{
    width: 100%;
}
.carPodium1 model-viewer {
    width: 100%;
    height: 56%;
    position: relative;
    bottom: -8%;
}
.footer_container {
    gap: 40px;
    flex-direction: column;
}
.footer_title {
    font-size: 32px;
}
.footer_right {
    flex-direction: row;
}
.road-path, .road-path2 {
    height: 200px;
}
.podium2 model-viewer{
        width: 100%;
        height: 55%;
        position: relative;
        bottom: -7%;
}
.slider_main {
        height: 400px;
    }
    .slider_thumb {
        width: 180px;
        height: 110px;
    }
    
    .slider_nav {
        gap: 16px;
    }
    .productsSec2Left {
width: 100%;
}
.productsSec2Right {
width: 90%;
height: 380px;
}
.h1_3{
    font-size: 48px;
}
.productHeroModel {
    width: 100%;
    height: 323px;
    bottom: 175px;
}
}

@media (min-width: 601px) and (max-width: 1041px){

h1 {
    font-size: 64px;
}
.hero1_modelContainer{
    height: 221px;
    width: 800px;
     margin-top: 100px;
}
.hero1model{
    height: 366px;
    width: 909px;
}
.hero_graphic3{
    width: 659px;
    height: 123px;
    padding-bottom: 40px;
    z-index: -1;
    position: absolute;
    bottom: 0px;
    right: 40px;
    background: radial-gradient(51.4% 51.7% at 48.6% 44.38%, rgba(239, 161, 71, 0.80) 0%, rgba(205, 48, 48, 0.80) 73.08%, rgba(57, 41, 63, 0.80) 100%);
}
.heroCard{
    display: flex;
    width: 300px;
    padding: 12px 22px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    right: 0;
    top: 100%;
    justify-content: flex-end;
}
h4 {
    font-size: 24px;
}
nav{
    display: none;
}
.padded_container{
    padding: 0 48px;
}
.padded_container2{
    padding: 80px 48px;
}
.card1_wrapper {
    width: 80%;
}
.landingsec3Flex {
    align-items: flex-start;
    gap: 32px;
    flex-direction: column-reverse;
}
.sec3Car {
    width: 34%;
    min-width: 150px;
    transform: rotate(90deg);
    transform-origin: center;
}
.sec3CarCont{
    justify-content: center;
    align-items: center;
    height: 200px;
}
.car_neonContainer {
    width: 90%;
    min-height: 215px;
}
.header_container{
    padding: 12px 48px;
}
.button1_size2 {
    font-size: 16px;
}
.road_flex{
    max-height: 300px;
}
.statsFlex1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px
}
.sec7Card1{
    min-width: 341px;
    padding: 62px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 769px;
    border-radius: 0 58px 58px 0;
    margin-bottom: 40px;
}
.sec7Card2{
    padding: 62px;
    border-radius: 58px 0 0 58px;
}
.filtersFlex div img{
    height: 94px;
}
.sec6Card2Wrapper{
    width: calc(50% -19px);
     height: -webkit-fill-available;;
}
.sec6Card1 h1{
    font-size: 64px;
}
.sec6Card2 .img1{
    mix-blend-mode: normal;
    height: 50%;
    right: -50px;
}
.sec6Card2 .img2 {
    height: 50%;
    right: -43px;
}
.statsFlex2 {
    flex-direction: row;
    width: 100%;
}
.progressFlex{
    width: 100%;
}
.statsBlock1{
    width: 100%;
}
.carPodium1 model-viewer {
    width: 100%;
    height: 90%;
    position: relative;
    bottom: 5%;
}
.footer_container {
    gap: 20px;
    flex-direction: row;
}
.footer_title {
    font-size: 32px;
}
.footer_right {
    flex-direction: column;
}
.road-path, .road-path2 {
    height: unset;
}
.podium2 model-viewer{
        width: 100%;
        height: 61%;
        position: relative;
        bottom: -7%;
}
.slider_main {
        height: 400px;
    }
    .slider_thumb {
        width: 180px;
        height: 110px;
    }
    
    .slider_nav {
        gap: 16px;
    }
.productsSec2Left {
width: 100%;
}
.productsSec2Right {
width: 100%;
height: 380px;
}
.h1_3{
    font-size: 52px;
}
.productHeroModel{
    width: 100%;
    height: 360px;
    bottom: 150px;
}
}
/* DESKTOP */
@media (min-width: 1041px){

h1{
    font-size: 96px;
}
.hero1_modelContainer{
    height: 321px;
    width: 1000px;
    margin-top: 0;
    z-index: 2;

}
.hero1model{
    height: 521px;
    width: 1080px;
}
.hero_graphic3{
    width: 859px;
    height: 123px;
    padding-bottom: 40px;
    z-index: -1;
    position: absolute;
    bottom: 0px;
    right: 40px;
    background: radial-gradient(51.4% 51.7% at 48.6% 44.38%, rgba(239, 161, 71, 0.80) 0%, rgba(205, 48, 48, 0.80) 73.08%, rgba(57, 41, 63, 0.80) 100%);
}
.heroCard{
    display: flex;
    width: 300px;
    padding: 12px 22px;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    backdrop-filter: blur(20px);
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 9;
}
h4 {
    font-size: 24px;
}
nav{
    display: flex;
}
.padded_container{
    padding: 0 80px;
}
.padded_container2{
    padding: 100 80px;
}

.landingsec3Flex {
    align-items: flex-start;
    gap: 72px;
    flex-direction: row;
}
.sec3Car {
    width: 25%;
    aspect-ratio: 262 / 725;
    min-width: 273px;
    transform: rotate(0deg);
}
.sec3CarCont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: unset;
}
.car_neonContainer {
    width: 70%;
    min-height: 215px;
}
.header_container{
    padding: 12px 92px;
}
.button1_size2 {
    font-size: 16px;
}
.road_flex{
    max-height: 400px;
}
.card1_wrapper {
    width: calc(33% - 24px);
}
.statsFlex1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sec7Card1{
    min-width: 341px;
    padding: 62px 34px 62px 193px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 769px;
    border-radius: 0 58px 58px 0;
    margin-bottom: 20px;
}
.sec7Card2{
    padding: 62px 258px 62px 41px;
    border-radius: 58px 0 0 58px;
}
.filtersFlex div img{
    height: 94px;
}
.sec6Card2Wrapper{
    width: calc(50% - 19px);
     height: -webkit-fill-available;;
}
.sec6Card1 h1{
    font-size: 96px;
}
.sec6Card2 .img1{
    mix-blend-mode: normal;
    height: 70%;
    right: -100px;
    top: -50px;
}
.sec6Card2 .img2 {
    height: 70%;
    right: -63px;
    top: -66px;
}
.statsFlex2 {
    flex-direction: row;
    width: calc(50% - 12px);
}
.progressFlex{
    width: calc(50% - 12px );
    gap: 10px;
}
.statsFlex1 {
    gap: 12px;
}
.statsBlock1{
    width: 50%;
}
.carPodium1 model-viewer {
    width: 100%;
    height: 90%;
    position: relative;
    bottom: 5%;
}
.footer_container {
    gap: 80px;
    flex-direction: row;
}
.footer_title {
    font-size: 40px;
}
.footer_right {
    flex-direction: column;
}
.road-path, .road-path2 {
    height: unset;
}
.podium2 model-viewer{
        width: 100%;
    height: 90%;
    bottom: 5%;
}
.engineContainer model-viewer{
    height: 100%;
}
.slider_thumb {
        width: 220px;
        height: 140px;
    }
    .productsSec2Left {
    width: calc(60% - 73px);
}
.h1_3{
    font-size: 64px;
}
}