:root{
    --mainbg: #0B0B09;
    --mainText: #FFFFFF;
    --grey:#D0C1D7;
    --gradient1:linear-gradient(93deg, #F4A235 -0.94%, #CD3030 62.65%, #39293F 97.76%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    --gradient2:radial-gradient(51.4% 51.7% at 48.6% 44.38%, rgba(244, 162, 53, 0.86) 0%, rgba(205, 48, 48, 0.86) 72.22%, rgba(57, 41, 63, 0.86) 100%);
    --glow:0 2px 10.2px 0 rgba(205, 48, 48, 0.36);
    --bg2: #171612;
    --accent:#E77D33;
}
*{
    margin: 0;
    padding: 0;
    color: var(--mainaccent);
    font-family: Syne;
    /* text-align: center; */

}
header{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(30px);
    position: fixed;
    margin: 0 auto;
    top: 0;
    z-index: 999;
    opacity: 0;
    animation: splashAnim 1000ms ease-in-out 1s forwards;
}
body{
    background: var(--mainbg);
    color: var(--mainText);
    overflow-x: hidden;
    position: relative;
}
.header_container .button2{
    justify-self: flex-end;
}
.hero_graphic3{
    display: flex;
    width: 859.455px;
    height: 123.9px;
    transform: rotate(9deg);
    padding-bottom: 40px;
    justify-content: flex-end;
    align-items: center;
    z-index: -1;
    position: absolute;
    bottom: 0px;
    right: 40px;
    border-radius: 947.455px;
    background: radial-gradient(51.4% 51.7% at 48.6% 44.38%, rgba(239, 161, 71, 0.80) 0%, rgba(205, 48, 48, 0.80) 73.08%, rgba(57, 41, 63, 0.80) 100%);
    filter: blur(38px);
    opacity: 0;
    animation: splashAnim 2s ease-in-out 2.2s forwards;
}
.header_container{
    display: flex;
    padding: 12px 92px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1840px;
}
.header_container .logo{
    width: 246px;
    display: flex;
}
.header_container .logo img{
    width: 70px;
    height: auto;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 358px;

}
nav ul li{
    font-size: 20px;
    font-weight: 300;
    height: 45px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
nav ul li a{
    transition: all 200ms ease;
}
a{
    color: inherit;
    text-decoration: none;
}
h1{
    text-align: center;
    color: linear-gradient(180deg, #D0C1D7 65.45%, #0B0B09 104.49%);;
    font-size: 96px;
    font-weight: 800;
    line-height: 93%;
    background: linear-gradient(180deg, #D0C1D7 65.45%, #0B0B09 104.49%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h1_2{
    font-weight: 718;
}
h2{
    font-size: 40px;
    font-weight: 800;
}
.h2_2{
color: var(--accent);
font-size: 48px;
font-weight: 700;
/* line-height: 60%; */
letter-spacing: -1.44px;
margin-bottom: 12px;
padding-bottom: 2px;
border-bottom: 3px solid var(--accent);
width: fit-content;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 16px;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.text_uppercase{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text_grey{
    color: var(--grey)
}
.text_regular{
    font-weight: 400;
}
section{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1700px;
}
.hero1{
    padding-top: 100px;
    /* opacity: 0; */
}

.gradient_cont{
    border: none;
    outline: none;
    border-radius: 22px;
}
.hero_graphic1{
    position: absolute;
    width: 161px;
    height: 110px;
    background: radial-gradient(51.4% 51.7% at 48.6% 44.38%, #F4A235 0%, #CD3030 72.22%, #39293F 100%);
    filter: blur(100px);
    left: -54px;
    top: 100px;
    z-index: 3;
    opacity: 0;
    animation: splashAnim 800ms ease-in-out 2.2s forwards;

}
.hero_graphic2{
    width: 646px;
    height: 440px;
    border-radius: 646px;
    background: radial-gradient(51.4% 51.7% at 48.6% 44.38%, rgba(244, 162, 53, 0.82) 0%, rgba(205, 48, 48, 0.82) 33.65%, rgba(57, 41, 63, 0.82) 100%);
    filter: blur(150px);
    right: -250px;
    top: -200px;
    opacity: 0;

    position: absolute;
    animation: splashAnim 800ms ease-in-out 2.2s forwards;

}
.hero1_modelContainer{
    height: 321px;
width: 1000px;
overflow: visible;
position: relative;
}
.hero1model{
    position: absolute;
    filter: blur(1);
    top: -270px;
    left: -100vw;
    height: 521px;
    width: 1080px;
    animation: hero1Anim 1s ease-in-out 2.8s both;
}
@keyframes hero1Anim {
    from{
        filter: blur(1);
        top: -270px;
        left: -100vw;
    }
    to{
        filter: blur(0);
        top: -120px;
        left: -130px;
    }
}
model-viewer {
    margin: 0 auto;
    transition-duration: 1000ms;
}
model-viewer::part(default-progress-bar) {
    display: none;
}
.hero_splash_container {
    width: 120vw;
    height: 1012px;
    position: absolute;
    top: -500px;
    left: -10vw;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: splashAnim2 1200ms ease-in-out 2s forwards;
}

.hero_splash {
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(51.4% 51.7% at 48.6% 44.38%, #F4A235 0%, #CD3030 71.15%, #39293F 100%);
    filter: blur(75px);
    border-radius: 50%;
    z-index: 1;
    top: 0;
    left: 0;
    animation: splashAnim 1200ms ease-in-out forwards;
}
.splash_logo {
    position: relative;
    z-index: 2;
    top: 180px;
    opacity: 0;
    animation: splashAnim 800ms ease-in-out 1s forwards;
}

.splash_logo img {
    width: 336px;
}
@keyframes splashAnim{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes splashAnim2{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(-100vh);
    }
}
.button1{
    display: flex;
    padding: 11px 65px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: linear-gradient(90deg, #0B0B09 -48.58%, #484846 -45.35%, #0B0B09 -5.48%);
    box-shadow: var(--glow);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: white;
    text-wrap: nowrap;
    position: relative;
    z-index: 11;
    overflow: hidden;
}
.button1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(120% 75% at 44% 50%, #0B0B09 54.64%, #FF4C1A 80%, #0B0B09 100%);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    border-radius: 24px;
    z-index: -1;
}
.button1:hover{
    gap: 10px;
    box-shadow: 0 2px 22px 0 rgba(205, 48, 48, 0.56);
}
.button1:hover::before {
    opacity: 1;
}


.button1 img{
    width: 0px;
    height: auto;
    transition: all 200ms ease-in-out;
}
.button1:hover img{
    width: 24px;
    height: auto;
}
.heroCard{
    display: flex;
    width: 300px;
    padding: 12px 22px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 8px;
    border-radius: 22px;
    background: linear-gradient(45deg, #17161200 70%, #CD3030 200%);
    box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 9;
}
.button1_size4{
    padding: 6px 12px;
}
.button1_size4:hover {
    padding: 6px 16px;
    height: fit-content;
}
.button1_size4 img{
    height: 12px;
    width: 12px;
    transform: scaleX(1);
    transform: scaleY(1);
}
.button1_size4:hover img {
    width: 12px;
    height: 12px;
}
.heroCard .gradient_wrapper{
    align-self: flex-end;
    
}
.hero1Text{
position: relative;
    opacity: 0;
    animation: splashAnim 1000ms ease-in-out 3s forwards;
}
.text_left{
     text-align: left;
}
.team_logo{
    height: 25px;
    width: auto;
}
.heroCard .team_logo{
    height: 16px;
    width: auto;
    align-self: flex-start;
}
.smallBtn{
    border-radius: 31px;
    border: 0.5px solid #D0C1D7;
    background: var(--mainbg, #0B0B09);
    border-radius: 31px;
    border: 0.5px solid #D0C1D7;
    background: var(--mainbg, #0B0B09);
}
button {
    border: none;
}
.gradient_wrapper {
    width: fit-content;
    padding: 1px;
    border-radius: 26px;
    background: var(--gradient1);
    z-index: 10;
}


.hero1 .flex_column{
    align-items: center;
    justify-content: center;
}
.button1_size2{
    padding: 10px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    max-height: 38px;
}
header .buttonsCont{
    display: flex;
align-items: center;
gap: 22px;
}
.button2{
    border: 1px solid var(--mainText);
    transition: all 200ms ease-in-out;
}
.button2:hover{
    border: 1px solid transparent;
}
.btn2_wrap{
   background: none;
   transition: all 200ms ease-in-out;
}
.btn2_wrap:hover{
   background: var(--gradient1);
}
.carousel-wrapper, .carousel-wrapper2  {
    overflow: hidden;
    position: relative;
}
.carousel {
    display: flex;
    padding: 34px 0;
    align-items: center;
    gap: 42px;
    width: fit-content;
}
.carousel img{
    height: 25px;
    width: auto;
}
.mainTextbox{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
    width: fit-content;
}
.alignCenter{
    align-items: center;
    justify-content:center;
}
.gradientext{
    background: linear-gradient(270deg, #0B0B09 -16.76%, #D0C1D7 50.9%, #0B0B09 118.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mainTextbox span{ 
    width: 100%;
    height: 4px;
    border-radius: 50%;
    background: radial-gradient(51.4% 51.7% at 48.6% 44.38%, rgba(244, 162, 53, 0.86) 0%, rgba(205, 48, 48, 0.86) 72.22%, rgba(57, 41, 63, 0.86) 100%);
}
.padded_container{
    padding: 0 80px;
    box-sizing: border-box;
}
.padded_container2{
    padding: 100px 80px;
    box-sizing: border-box;
}
.landingsec2Flex{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.text_bold{
    font-weight: 700;
}
.text_center{
    text-align: center;
}
.card1{
    border-radius: 24px;
    background: var(--bg2, #171612);
    box-shadow: var(--glow);
    display: flex;
    padding: 30px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.card1_wrapper{
    width: calc(33% - 24px);
}
.card1 img{
    width: 94px;
    height: 94px;
    margin-bottom: 15px;
}
p{
    font-size: 18px;
}
.landingsec3Flex{
    display: flex;
justify-content: center;
align-items: flex-start;
gap: 72px;
flex-direction: row;
}
.sec3Car{
    background-image: url(public/images/sec3car.png);
    width: 25%;
    aspect-ratio: 262/725;
    min-width: 273px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec3Car img{
    width: 100%;
    mix-blend-mode: lighten;
}
.fade_in{
    opacity: 0;
     animation: fade-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.scale_in{
    opacity: 0;
    transform: scaleX(0);
     animation: scale-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.move_focus{
    position: relative;
    transform: translateY(100px);
    animation: move-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes move-focus-in{
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
.scroll_animate2{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 10%;
    animation-range: cover 10% cover 35%;
}
.scroll_animate{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 10%;
    animation-range: cover 10% cover 15%;
}
.button1_size3{
    padding: 8px 33px;
}
.button1_size2:hover{
    gap: 10px;
    box-shadow: 0 2px 16px 0 rgba(205, 48, 48, 0.3);
}
.car_neonContainer {
    position: relative;
    width: 70%;
    min-height: 215px;
}
.car_neonContainer img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    mix-blend-mode: color-dodge;
    pointer-events: none;
}
.car_neonView {
    position: absolute;
    inset: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
.neonCell {
    width: 20%;
    height: 20%;
    pointer-events: auto;
}
.neonCell span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 77px;
    background: radial-gradient( 51.4% 51.7% at 48.6% 44.38%,#F4A235 0%,#CD3030 72.22%, #39293F 100%);
    filter: blur(16px);
    opacity: 0;
    transform: scale(0.9);
    transition:
        opacity 200ms ease,
        filter 200ms ease,
        transform 200ms ease;
}
.neonCell:hover span {
    opacity: 1;
    filter: blur(20px);
    transform: scale(1.1);
}
.sec3_car3{
    align-self: flex-end;
}
.subtitleParagraph{
    gap: 12px;
    margin-bottom: 22px;
}
.road_flex{
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 400px;
}
.road-path, .road-path2 {
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dashoffset 0.1s linear;
  width: 100%;
}
.road-path .roadPath1{
    width: 100%;
}
.road-path2 .roadPath2{
    width: 100%;
}
.roadCenter{
    width: 100%;
    position: absolute;
    top: 15%;
    left: 0;
    z-index: 3;
}
.card2_wrapper{
width: 30%;
}
.card2{
    display: flex;
    padding: 22px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 24px;
    gap: 10px;
    border: 1px solid transparent;
    background: linear-gradient(229deg, rgba(244, 162, 53, 0.00) -12.8%, rgba(205, 48, 48, 0.00) 19.52%, rgba(57, 41, 63, 0.00) 53.35%), var(--bg2, #171612);
    box-shadow: var(--glow);
}
.filterTitle{
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}
.filtersFlex{
    display: flex;
    align-items: center;
    gap: 58px;
}
.filtersFlex div{
    display: flex;
    max-width: 90px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}
.filtersFlex div img{
    height: 94px;
    width: auto;
    transition: all 300ms ease-in-out;
}
.filtersFlex div .speed{
    mix-blend-mode:lighten;
}
.filtersFlex div .neonCell{
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.filtersFlex div:hover .neonCell span{
    opacity: 1;
}
.filtersFlex div:hover  img{
    transform: scale(1.1);
}
.carCardsCont{
    width: 100%;
    overflow: hidden;
    margin: 42px;
}
.carCardImg{
    height: 250px;
    width: auto;
    transition: all 200ms ease-in-out;
}
.carCardLogo{
    height: 19px;
    width: auto;
    align-self: start;
}
.card2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 24px;
    z-index: 1;
    opacity: 0;
    background: linear-gradient(229deg, #F4A235 -12.8%, rgba(205, 48, 48, 0.50) 19.52%, rgba(57, 41, 63, 0.00) 53.35%), #171612;
    transition: all 200ms ease-in;
}
.card2:hover::before{
    opacity: 1;
}
.card2 .gradient_wrapper{
    align-self: flex-end;
}
.card2:hover .carCardImg{
    scale: 1.1;
}
.cardCardImgCont{
    max-width: 100%;
    overflow: visible;
    z-index: 2
}
.carCardContent{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.carPodium1{
    background-image: url(public/images/carpodium.png);
    width: 100%;
    height: 291px;
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}
.carPodium1 model-viewer{
    width: 100%;
    height: 90%;
    position: relative;
    bottom: 5%;
}
.carSpecifics{
    position: relative;
    width: 100%;
    z-index: 1;
    top: -50px;
    padding: 32px 28px;
    background: linear-gradient(-45deg, #17161200 70%, #CD3030 200%);
}
.statsBlock1{
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 25%;
}
.statsBlock1 span{
    width: 100%;
    height: 1px;
    background: var(--gradient1);
}
.statsBlock1 div{
    display: flex;
    align-items: center;
}
.statsBlock1 .icon{
    width: 24px;
    height: auto;
    margin-right: 8px;
}
.statsBlock1 h5{
    margin-right: 10px;
    text-wrap: nowrap;
}
.statsFlex1{
    display: flex;
    margin-top: 12px;
    gap: 12px;
    justify-content: space-between;
}
.carSpecifics .btn2_wrap{
    position: absolute;
    top: 22px;
    right: 22px;
}
.text_black{
    font-weight: 800;
    line-height: 93%;
}
.progress{
    border-radius: 10px;
background: #D0C1D7;
display: flex;
height: 5px;
display: flex;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.progress div{
    border-radius: 10px;
    height: 100%;
    width: 90%;
    background: var(--gradient1);
    box-shadow: var(--glow);
}
.progressFlex{
    width: 50%;
    gap: 10px;
}
.progressFlex .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.progressFlex  h4 .kph{
    font-size: 14px;
    font-weight: 600;
    background: none;
    text-wrap: nowrap;
}