:root{
    --mainbg: #0B0B09;
    --mainText: #FFFFFF;
    --grey:#D0C1D7;
    --gradient1:linear-gradient(93deg, #F4A235 -0.94%, #CD3030 62.65%, #39293F 97.76%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    --gradient2:radial-gradient(51.4% 51.7% at 48.6% 44.38%, rgba(244, 162, 53, 0.86) 0%, rgba(205, 48, 48, 0.86) 72.22%, rgba(57, 41, 63, 0.86) 100%);
    --glow:0 2px 10.2px 0 rgba(205, 48, 48, 0.36);
}
*{
    margin: 0;
    padding: 0;
    color: var(--mainaccent);
    font-family: Syne;
    text-align: center;

}
header{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(30px);
    position: fixed;
    margin: 0 auto;
    top: 0;
    z-index: 999;
}
body{
    background: var(--mainbg);
    color: var(--mainText);
    overflow-x: hidden;
}
.header_container .button2{
    justify-self: flex-end;
}
.header_container{
    display: flex;
    padding: 22px 92px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1840px;
}
.header_container .logo img{
    width: 70px;
    height: auto;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 358px;

}
nav ul li{
    font-size: 20px;
    font-weight: 300;
    height: 45px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
nav ul li a{
    transition: all 200ms ease;
}
a{
    color: inherit;
    text-decoration: none;
}
h1{
    text-align: center;
    color: linear-gradient(180deg, #D0C1D7 65.45%, #0B0B09 104.49%);;
    font-size: 96px;
    font-weight: 800;
    line-height: 93%;
    background: linear-gradient(180deg, #D0C1D7 65.45%, #0B0B09 104.49%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h1_2{
    font-weight: 718;
}
h5{
    font-size: 24px;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.text_uppercase{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text_grey{
    color: var(--grey)
}
.text_regular{
    font-weight: 400;
}
section{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1700px;
}
.hero1{
    padding-top: 100px;
}
.button1{
    display: flex;
    width: 302px;
    height: 52px;
    padding: 11px 65px;
    justify-content: center;
    align-items: center;
}
.gradient-wrapper {
    width: fit-content;
    padding: 0 7px 0 9px;
    border-radius: 34px;
    background: var(--gradient1);
}
.gradient_cont{
    border: none;
    outline: none;
}
.hero_graphic1{
    position: absolute;
    width: 161px;
    height: 110px;
    background: radial-gradient(51.4% 51.7% at 48.6% 44.38%, #F4A235 0%, #CD3030 72.22%, #39293F 100%);
    filter: blur(100px);
    left: -54px;
    top: 100px;
    z-index: 3;
}
.hero_graphic2{
    width: 646px;
    height: 440px;
    border-radius: 646px;
    background: radial-gradient(51.4% 51.7% at 48.6% 44.38%, rgba(244, 162, 53, 0.82) 0%, rgba(205, 48, 48, 0.82) 33.65%, rgba(57, 41, 63, 0.82) 100%);
    filter: blur(150px);
    right: -250px;
    top: -200px;
    position: absolute;
}
.hero1_modelContainer{
    height: 221px;
width: 1000px;
overflow: visible;
position: relative;
}
.hero1model{
    position: absolute;
    top: -100px;
    left: -70px;
height: 521px;
width: 1000px;
}